.main_panel_feed{
    width: 100%;
    margin: 40px 0px;
}
.main_panel_feed_header{
    width: 100%;
    background-color: white;
    height: 50px;
    display: flex;
    align-items: center;

}
.main_panel_feed_profile_img{
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 100%;
    margin: 0px 20px;
}
.main_panel_feed_file{
    object-position: center;
    object-fit: cover;
    width: 600px;
    height: auto;
}
.main_panel_feed_footer{
    display: flex;
    align-items: center;
    background-color: white;
}
.like_animation{
    animation: fillAnimation 2s forwards;
}
@keyframes fillAnimation {
    0% {
        fill:white
    }
    100% {
      fill: red;
    }
  }
.main_panel_feed_description{
    display: flex;
}
.main_panel_feed_footer>button> svg, .main_panel_feed_footer>div>button>svg{
    height: 23px;
    margin: 9px 7px;
}